@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar-shadow{
  box-shadow: 8px 11px 0px 0px #181919;
}

.button-shadow{
  box-shadow: 5px 5px 0px 0px #181919;
}

@font-face {
  font-family: Atyp;
  src: url(../public/fonts/AtypDisplayTRIAL-Bold-BF65727125c8d1d.otf)
}

@font-face {
  font-family: Mango;
  src: url(../public/fonts/font2/MangoGrotesque-Bold.otf)
}

@font-face {
  font-family: Atyp2;
  src: url(../public/fonts/AtypDisplayTRIAL-Light-BF65727125c722b.otf)
}

@keyframes subtleEyeMovement {
  0% {
    transform: translate(0, 0) rotate(0deg); /* Starting position */
  }
  25% {
    transform: translate(-2px, 0) rotate(0deg); /* Move 1px left */
  }
  50% {
    transform: translate(-1px, -1px) rotate(0deg); /* Move 1px left and 1px up */
  }
  75% {
    transform: translate(0, -2px) rotate(0deg); /* Move back to center, then 1px up */
  }
  100% {
    transform: translate(0, 0) rotate(0deg); /* Return to starting position */
  }
}

.eye-roll {
  animation: subtleEyeMovement 2s ease-in-out infinite; /* Looping the animation */
}


