@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  background-color: #181919;
}

.navbar-shadow{
  box-shadow: 8px 11px 0px 0px #181919;
}

.button-shadow{
  box-shadow: 5px 5px 0px 0px #181919;
}

@font-face {
  font-family: Atyp;
  src: url(../public/fonts/AtypDisplayTRIAL-Bold-BF65727125c8d1d.otf)
}

@font-face {
  font-family: Mango;
  src: url(../public/fonts/font2/MangoGrotesque-Bold.otf)
}

@font-face {
  font-family: Atyp2;
  src: url(../public/fonts/AtypDisplayTRIAL-Light-BF65727125c722b.otf)
}

@keyframes subtleEyeMovement {
  0% {
    transform: translate(0, 0) rotate(0deg); /* Starting position */
  }
  25% {
    transform: translate(-2px, 0) rotate(0deg); /* Move 1px left */
  }
  50% {
    transform: translate(-1px, -1px) rotate(0deg); /* Move 1px left and 1px up */
  }
  75% {
    transform: translate(0, -2px) rotate(0deg); /* Move back to center, then 1px up */
  }
  100% {
    transform: translate(0, 0) rotate(0deg); /* Return to starting position */
  }
}

.eye-roll {
  animation: subtleEyeMovement 2s ease-in-out infinite; /* Looping the animation */
}



.custom-dot-list-style .react-multi-carousel-dot button {
  background-color: #6BECD0; /* Your custom color for inactive dots */
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
  background-color: #181919; /* Your custom color for active dots */
}

 /* Glitch effect for text */
.glitch-text {
  position: relative;
  display: block; /* Each word on its own line */
  color: #a055ff;
  text-shadow: 2px 2px 0 #daff00, -2px -2px 0 #ff0000;
  animation: glitch 1s infinite;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #a055ff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}

.glitch-text::before {
  text-shadow: 2px 2px 0 #daff00;
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch-text::after {
  text-shadow: -2px -2px 0 #ff0000;
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(0, 900px, 0, 0);
  }
  20% {
    clip: rect(10px, 900px, 50px, 0);
  }
  40% {
    clip: rect(20px, 900px, 40px, 0);
  }
  60% {
    clip: rect(30px, 900px, 30px, 0);
  }
  80% {
    clip: rect(40px, 900px, 20px, 0);
  }
  100% {
    clip: rect(50px, 900px, 10px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(50px, 900px, 10px, 0);
  }
  20% {
    clip: rect(40px, 900px, 20px, 0);
  }
  40% {
    clip: rect(30px, 900px, 30px, 0);
  }
  60% {
    clip: rect(20px, 900px, 40px, 0);
  }
  80% {
    clip: rect(10px, 900px, 50px, 0);
  }
  100% {
    clip: rect(0, 900px, 0, 0);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}

 


